html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    @include pad;
    background: $white;
    @include mar;
    font-size: 1.6rem;
    font-family: $primary-font;

    &.home-intro {
        overflow-y:hidden;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.2;
    @include mar;
    @include pad;
}

p {
    line-height: 1.6;
}

a {
    outline: none !important;
    text-decoration: none;
}

ul {
    @include mar;
    @include pad;
    list-style: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    @include height(auto);
}


// Box sizing
* {
    @include box-sizing;
}

*:before,
*:after {
    @include box-sizing;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix {
    @include clearfix;
}

.container {
    @include width(100%);
    max-width: 1140px;
    @include margin-auto;
}

.column {
    @include plpr30;
    @include width(100%);
}

.section {
    padding: 3rem;
    @include clearfix;
}

.center {
    @include align-center;
}
