/*Reset padding*/

@mixin pad {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

@mixin mar {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}


@mixin relative {
  position: relative;
}

@mixin flex {
  display: flex;
}

@mixin align-items($align) {
  @if $align == center {
    align-items: center;
  }@else if $align == start {
    align-items:flex-start;
  }@else {
    align-items:flex-end;
  }

}

@mixin background-size($size) {
  @if $size == contain {
    background-size:contain;
  }@else {
     background-size:cover;
  }
}

@mixin flex-direction($direction) {
  @if $direction==row {
    flex-direction: row;
  } @else {
    flex-direction: column;
  }
}

@mixin margin-auto {
  margin: 0 auto;
}

@mixin absolute {
  position: absolute;
}

@mixin fixed {
  position: fixed;
}

@mixin height($height) {
  height: $height;
}

@mixin width($width) {
  width: $width;
}

@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}


@mixin block {
  display: block;
}

@mixin inline-block {
  display: inline-block;
}

// clearfix
@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  & {
    *zoom: 1;
  }
}

@mixin text-size($fs, $lh) {
  font-size: $fs;
  line-height: $lh;
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}


// generic transform
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
 
// scale
@mixin scale ($x, $y) {
  @include transform(scale(#{$x}deg, #{$y}deg));
} 
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
       -o-transform-origin: $origin;
      -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
          transform-origin: $origin;
}

// Padding prawy/lewy 30px
@mixin plpr30 {
  padding-left: 30px;
  padding-right: 30px;
}

// Box-sizing
@mixin box-sizing($box-sizing: border-box) {
  box-sizing: $box-sizing;
  -webkit-box-sizing: $box-sizing;
  -moz-box-sizing: $box-sizing;
}

// Margin auto
@mixin margin-auto {
  margin: 0 auto;
}

// Reset list
@mixin reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin uppercase {
  text-transform: uppercase;
}

@mixin lowercase {
  text-transform: lowercase;
}

@mixin block {
  display: block;
}

@mixin inline-block {
  display: inline-block;
}

@mixin align-center {
  text-align: center;
}

@mixin align-left {
  text-align: left;
}

@mixin align-right {
  text-align: right;
}

/*Media queries*/

$small-width: 320px;
$mobile-width: 640px;
$tablet-width: 768px;
$desktop-width: 1024px;
@mixin small {
  @media (min-width:#{$small-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width:#{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width:#{$desktop-width}) {
    @content;
  }
}
