.switcher {
	position:absolute;
	display:block;
	border:1px solid #fff;
	 width: 40px;
    height: 40px;
    top: 30px;
    right:30px;
    z-index:400;
    cursor:pointer;
    color:#fff;
    opacity:1;
    visibility:visible;


    &.active-button {
    	@include transition(all .3s cubic-bezier(0.190, 1.000, 0.220, 1.000));
    	opacity:0;
    	visibility:hidden;
    }

    &:after {
    	content:"x";
    	display:block;
    	 color:#fff;
    	 font-size:25px;
    	 text-align:center;
    }
}

.left-panel-nav {
	position:fixed;
	z-index:300;
	top:0;
	bottom:0;
	// right:-100%;
	right:0;
	@include width(100%);
	@include flex;
	@include flex-direction(column);
	background: rgba(0,0,0,.8);
	justify-content:center;
	// transform:translateX(-100%);
	visibility:hidden;
	opacity:0;
	


	@media screen and (max-height: 600px) {
		overflow-y: scroll;
	}
}