
/*Intro*/
.main-intro {
	width: 80%;
    position: relative;
    z-index: 101;
    width: 70vw;
    padding: 0 3em;

    #przemek-header {
    	h1 {
    		font-size: 3em;
    		line-height: 1.5em;

    		&.is-typing {
	    		&:after {
	    			 content: '|';
	            	animation: blink 0.6s infinite;
	            	font-weight: 300;
	    		}
    		}

    		span {
    			 position: relative;

    			 &:after {
    			 	content: '';
		            position: absolute;
		            transition: all 0.3s ease;
		            bottom: 0px;
		            left: 0;
		            width: 100%;
		            height: 2px;
		            background: red;
    			 }
    		}
    	}
    }
}


.main-back {
	@include absolute;
	@include width(100vw);
	@include height(100vh);
	overflow:hidden;
	opacity:0;
	 @include transition(all .5s ease-in);

	 &.is-active {
	 	opacity:1;
	 }

	 &.is-shrunk {
	 	// width: 30vw;
	 	&:after {
	 		transform: scaleX(1);
	 		 // opacity: 1;
	 	}
	 }

	 &:after {
	 	content:"";
	 	@include absolute;
	 	@include transition(all 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000));
		 top: 0;
        left: 0;
         transform: scaleX(0);
        transform-origin: 0 0;
        background: rgba(#fff, 0.9);
        width: 70vw;
        height: 100vh;
	 }

	 .bck-inner {
	 	@include background-size(cover);
	 	background-position:50% 50%;
	 	background-repeat:no-repeat;
	 	width: 100vw;
		height: 100vh;
		position: absolute;
		top: 0;
		right: 0;
		transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
		

		&.slide-1 {
			background-image: url("../img/photo1.jpg");
		}

		&.slide-2 {
			background-image: url("../img/photo2.jpg");
		}

		&.is-active {
			visibility:visible;
			opacity:0;
		}
	}
}

@keyframes blink {
    from { opacity: 0; }
    to { opacity: 1; }
}

/*Accordion menu*/
.panel-collapse {
	display: none;
	transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	max-height: 0;
	opacity: 0;

	&.opened {
		opacity: 1;
		max-height: 600px;
		display: block;
	}
}