.slider-wrapper {
  
    overflow:hidden;
    position: relative;

    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @include width(6rem);
        @include height(6rem);
        box-shadow:none;
        line-height: 6rem;
        background-color: $white;
        cursor: pointer;
        background-position: 50% 50%;
        background-size:30% auto;
        background-repeat: no-repeat;

        &.arrow-next {
            right: 0;
            background-image: url("../img/arrow-next.svg");

        }

        &.arrow-prev {
            left: 0;
            background-image: url("../img/arrow-prev.svg");
        }
    }

    .slides-list {
       
        @include width(100%);
        @include flex;
        @include flex-direction(row);
       

        .slide-section {
            @include width(100%);
            flex-basis: 100%;
            background-size:cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            max-height:700px;
            @include height(80vh);
        }
    }

    .bottom-pagination {
        position: absolute;
        bottom: 0;
        z-index: 100;
        @include width(100%);
        text-align: center;
        font-size: 0;
        line-height: 0;
        @include height(40px);
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0,.3);
        @include flex;

        .bullet-element {
            line-height: 1;
            font-size: 1.6rem;
            padding: 5px;
            cursor: pointer;

            &.active {
                .bullet{
                    background-color: red;
                }
            }

            .bullet {
                display: block;
                height: 12px;
                width: 12px;
                border-radius:100%;
                background-color: $white;
                cursor: pointer;


            }
        }

    }
}