

$primary-font:'Open Sans', sans-serif;
$basic-font-size:1.3rem;
$basic-line-height:1.42857;




$white: #fff;
$black:#000;
$grey:#4b4a48;
$light-grey:#c5c5c5;
$slide-bck:#037ab4;
$green:#75c5bc;
$navy-blue:#002c6a;
$red:#e70505;
$yellow:#ffcf47;
$light-blue:#2e6faf;
$main-bg-color: #ffffff;
$shadow-color:rgba(204,204,204,.7);